<%= simple_form_for @registration do |f| %>
  <%= f.abyme_for(:clients, button_text:"Ajouter une personne") %>
  <div class="submit-button-container">
    <%= f.submit 'Confirmer', class:'submit-button' %>
  </div>
<% end %>
