<div class="new-clients">
  <div class="d-flex">
    <img class="logo" src="<%= asset_url('TCC_logo.png') %>" alt="Tennis Club Courcelles">
    <div class="w-100 d-flex justify-content-around align-items-center">
      <h1>Tennis Club Courcelles</h1>
    </div>
  </div>
  <div>
    <%= render 'form' %>
  </div>
</div>
